<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>games</th>
      <th>wins</th>
      <th>losses</th>
      <th>win_pct</th>
      <th>minutes</th>
      <th>fgm</th>
      <th>fga</th>
      <th>fg_pct</th>
      <th>fg3m</th>
      <th>fg3a</th>
      <th>fg3_pct</th>
      <th>ftm</th>
      <th>fta</th>
      <th>ft_pct</th>
      <th>pf</th>
      <th>oreb</th>
      <th>dreb</th>
      <th>reb</th>
      <th>ast</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td> stephen curry</td>
      <td> 52</td>
      <td> 43</td>
      <td> 9</td>
      <td> 0.827</td>
      <td> 33.2</td>
      <td> 8.2</td>
      <td> 17</td>
      <td> 0.481</td>
      <td> 3.2</td>
      <td> 7.9</td>
      <td> 0.4</td>
      <td> 4.1</td>
      <td> 4.5</td>
      <td> 0.902</td>
      <td> 2</td>
      <td> 0.7</td>
      <td> 4</td>
      <td> 4.7</td>
      <td> 7.9</td>
    </tr>
  </tbody>
</table>