{{extend 'layout.html'}}

<html lang="en">
    <head>
    	<meta http-equiv="refresh" content="30"/>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <a class="brand">Ball is Life</a>
                <ul class="nav">
                    <li><a href="../../index.html">Home</a>
                    <li class="active"><a href="../../scores.html">Live Scores</a></li>
                    <li><a href="../../stats.html">Stats</a></li>
                    <li><a href="../../top_players.html">Top Players</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="page-header" style="border-bottom: none">
                <h1 style="color:black; font-weight: bold; text-transform:capitalize;">{{=arg1}} vs. {{=arg2}}</h1>
            </div>
        </div>
        <div>
        	{{=A('← Back', _class='btn', _href=URL('default', 'scores'))}}
        	{{=XML(live_games_df)}}
        </div>
    </body>

</html>
