{{extend 'layout.html'}}

<html lang="en">
    <head>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <a class="brand">Ball is Life</a>
                <ul class="nav">
                    <li class="active"><a href="index.html">Home</a>
                    <li><a href="scores.html">Live Scores</a></li>
                    <li><a href="stats.html">Stats</a></li>
                    <li><a href="top_players.html">Top Players</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="page-header" style="border-bottom: none">
                <h1 style="color:black; font-weight: bold">Welcome <small style="color: black">Find Your NBA Related Information Here.</small></h1>
            </div>
        </div>
        <div class="table table-hover">
        	<h1>Standings</h>
        	<h3>Eastern Conference</h3>
        	{{=TABLE(TR(TH(eastHeaders[5]), TH(eastHeaders[6]), TH(eastHeaders[7]),TH(eastHeaders[8]), 
        		TH('WIN %'),TH('HOME RECORD'),TH('ROAD RECORD')),
            	*[TR(row[5],row[6],row[7],row[8],row[9],row[10],row[11]) for row in eastRows],_class='table')}}
        </div>
        <div class="table table-hover" style="margin-top:650px;">
        	<h3>Western Conference</h3>
        	{{=TABLE(TR(TH(westHeaders[5]), TH(westHeaders[6]), TH(westHeaders[7]),TH(westHeaders[8]), 
        		TH('WIN %'),TH('HOME RECORD'),TH('ROAD RECORD')),
            	*[TR(row[5],row[6],row[7],row[8],row[9],row[10],row[11]) for row in westRows],_class='table')}}
        </div>
            <p style="margin-top:620px">© Alyan Shafique. All stats and information retrieved from NBA.com</p>
    </body>

</html>


