{{extend 'layout.html'}}

<html lang="en">
    <head>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <a class="brand">Ball is Life</a>
                <ul class="nav">
                    <li><a href="index.html">Home</a>
                    <li><a href="scores.html">Live Scores</a></li>
                    <li class="active"><a href="stats.html">Stats</a></li>
                    <li><a href="top_players.html">Top Players</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="page-header" style="border-bottom: none">
                <h1 style="color:black; font-weight: bold">Search Statistics <small style="color: black">Fulfill Your Need For Stats.</small></h1>
            </div>
        </div>
        <div>
            <h3>Team Stats</h3>
            {{=A('Team Stats', _class='btn', _href=URL('default', 'team_stats'))}}
        </div>
        <div>
            <h3>Player Stats</h3>
            {{=A('Player Stats', _class='btn', _href=URL('default', 'player_stats'))}}
        </div>
    </body>

</html>
<!--style="color:white; font-weight: bold;"-->
