{{extend 'layout.html'}}

<html lang="en">
    <head>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <a class="brand">Ball is Life</a>
                <ul class="nav">
                    <li><a href="index.html">Home</a>
                    <li><a href="scores.html">Live Scores</a></li>
                    <li class="active"><a href="stats.html">Stats</a></li>
                    <li><a href="top_players.html">Top Players</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="page-header" style="border-bottom: none">
                <h1 style="color:black; font-weight: bold">Team Stats </h1>
            </div>
        </div>
        <div>
        	{{=A('← Back', _class='btn', _href=URL('default', 'stats'))}}
            {{=TABLE(TR(TH('TEAM'), TH(headers[2]), TH(headers[3]),TH(headers[4]), TH(headers[5]),
            	TH('ORTG'), TH('DRTG'), TH('NRTG'),TH(headers[10]), TH(headers[11]),TH(headers[14]),
            	TH(headers[15]),TH(headers[17]), TH(headers[18]),TH(headers[19])),
            	*[TR(row[1],row[2],row[3],row[4],row[5],row[7],row[8],row[9],
            	    row[10],row[11],row[14],row[15],row[17],row[18],row[19]) for row in rows],_class='table')}}
        </div>
        <p style="margin-top:1200px">© Alyan Shafique. All stats and information retrieved from NBA.com</p>
    </body>
</html>
